.createAccount1,
.email,
.thanhlocofyai {
  position: relative;
  font-family: var(--body-small-body-small-400);
  text-align: left;
}
.createAccount1 {
  margin: 0;
  font-size: var(--font-size-13xl);
  line-height: 120%;
  font-weight: 600;
  color: var(--gray-scale-gray-900);
}
.email,
.thanhlocofyai {
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--color-black);
  display: inline-block;
  min-width: 38px;
}
.thanhlocofyai {
  color: var(--gray-scale-gray-500);
  min-width: 114px;
  white-space: nowrap;
}
.inputField,
.loopController {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inputField {
  width: 300px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base);
}
.loopController {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input,
.password {
  font-family: var(--body-small-body-small-400);
  font-size: var(--body-small-body-small-400-size);
  position: relative;
  line-height: 150%;
  text-align: left;
  display: inline-block;
}
.password {
  color: var(--color-black);
  min-width: 68px;
}
.input {
  width: 116px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 21px;
  color: var(--gray-scale-gray-500);
  padding: 0;
}
.eyeOpen1Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inputField1,
.loopController1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inputField1 {
  height: 49px;
  width: 300px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-base);
  gap: var(--gap-xl);
}
.loopController1 {
  align-self: stretch;
}
.input1,
.retypePassword {
  font-family: var(--body-small-body-small-400);
  font-size: var(--body-small-body-small-400-size);
  position: relative;
  line-height: 150%;
  text-align: left;
  display: inline-block;
}
.retypePassword {
  color: var(--color-black);
  min-width: 121px;
}
.input1 {
  width: 116px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 21px;
  color: var(--gray-scale-gray-500);
  padding: 0;
}
.eyeOpen1Icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.field1,
.inputField2,
.loopController2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inputField2 {
  height: 49px;
  width: 300px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-base);
  gap: var(--gap-xl);
}
.field1,
.loopController2 {
  align-self: stretch;
}
.field1 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.checkbox {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
}
.acceptAllTerms {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-gray-600);
  text-align: left;
}
.field,
.remember {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.field {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-6xl) 0 0;
  gap: var(--gap-base);
}
.normal {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 112px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--branding-success);
  align-self: stretch;
  border-radius: var(--br-24xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-limegreen-100);
}
.alreadyHaveAccount,
.login {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-gray-600);
  text-align: left;
}
.login {
  width: 42px;
  font-weight: 500;
  color: var(--gray-scale-gray-900);
  display: inline-block;
}
.dontHaveAccount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.createAccount,
.createAccountWrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.createAccount {
  margin: 0;
  width: 520px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  box-shadow: 0 0 56px rgba(0, 38, 3, 0.08);
  border: 1px solid var(--gray-scale-gray-50);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-4xl) var(--padding-13xl);
  gap: var(--gap-xl);
}
.createAccountWrapper {
  width: 1782px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-61xl);
}
@media screen and (max-width: 925px) {
  .createAccount1 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .loopController,
  .loopController1,
  .loopController2 {
    flex-wrap: wrap;
  }
  .createAccountWrapper {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .createAccount1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .createAccount {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
